// Body Styles
@use "variables" as *;

.button {
    color: $detailColor;
    background-color: $backgroundColor;
    border: 1px solid $detailColor;
    border-radius: 10px;
    box-shadow: 0px 5px 5px $detailColor;
    padding: .5rem .9375rem;
    text-decoration: none;
    cursor: pointer;
    width: fit-content;
    display: inline-block;


    &:hover, &:active, &:focus {
        background-color: $detailColor;
        border: 1px solid $detailColor;
        color: $backgroundColor;
        text-decoration: none;
        
        a {
            color: $backgroundColor;
        }
    }
}

#post-8 .button_margin {
    margin-top: 55px;
}
