// Main Styles
@use "variables" as *;
@use "mixins" as *;

main {
    flex: 1;
    transition: padding-top 0.5s ease-in-out;

    figure, img, a {
        margin: 0;
        padding: 0;
        text-decoration: none;
    }
  
}

.main-active {
    padding-top: 6.5rem; 
}
