// Main Styles
@use "variables" as *;
@use "mixins" as *;

main {
    flex: 1;
    // padding: $mobile-padding;

    figure, img, a {
        margin: 0;
        padding: 0;
        text-decoration: none;
    }


   
}
