// Colors
$darkBlue: #10141E;
$lightWhite: #FBFBFB;
$lightBlue: #8FA2D1;
$mediumBlue: #191F2F;

// Layout
$section-padding: 1rem 1.25rem;
$section-desktop-padding: 1rem 1.75rem;
$section-margin-botton: 2rem;

// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

// Type
$font: "Montserrat", sans-serif;